# Исключаем скомпилированные бинарники
*.exe
*.out

# Исключаем временные файлы
*.tmp
*.log

# Исключаем файлы, созданные IDE или редакторами
.vscode/
.idea/
*.sln
*.vcxproj
*.user

# Исключаем объектные файлы
*.o
*.obj

# Исключаем исполняемые файлы
a.out